<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Image Processing App</title>
</head>
<body>

    <div class="container left">
        <input type="file" id="file" accept="image/*" hidden>
        <div class="img-area" data-img="">
            <i class='bx bxs-cloud-upload icon'></i>
            <h3>Upload Image</h3>
            <p>Image size must be less than <span>2MB</span></p>
        </div>
        <button class="select-image">Select Image</button>
    </div>

    <div class="container right up">
        <div class="toggle-button">
            <span class="toggle-label">Choose Mode:</span>
            <label class="toggle-switch">
                <input type="checkbox" id="modeToggle" onchange="changeMode()">
                <div class="toggle-slider">
                    <span class="toggle-option color">Color</span>
                    <span class="toggle-option texture">Texture</span>
                </div>
            </label>
        </div>

        <button class="select-image">Choose Folder</button>
    </div>

    <script src="script.js"></script>
</body>
</html>
