body, h1, form, label, input, select, button {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --default-spacing: 10px;
  --default-margin: 1rem;
  --medium-margin: 3rem;
  --larger-margin: 5rem;
  --primary-color: #7676d7;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: var(--default-margin);
  color: #7676d7;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
}

input, select {
  margin-top: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #7676d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6565d4;
}
