<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Image Processing App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div className="container">
        <form action="/upload" method="post" enctype="multipart/form-data" class="form-container">
            <div class="container left">
                <h3 style="margin-top: 20px;">Choose Mode</h3>
                <br>
                <div class="toggle-button">
                    <span class="toggle-label">Color</span>
                    <label class="toggle-switch">
                        <input type="checkbox" id="mode" onchange="changeMode()">
                        <div class="toggle-slider">
                            <span class="toggle-option color" value="color"></span>
                            <span class="toggle-option texture" value="texture"></span>
                        </div>
                    </label>
                    <span class="toggle-label">Texture</span>            
                </div>
                <label for="folderInput" class="select-folder">
                    Select Folder
                    <input id="folderInput" type="file" name="folder[]" webkitdirectory directory multiple required style="display: none;">
                </label>
            </div>
            <div class="container right">
                <input type="file" id="file" name="gambar1" accept="image/*" hidden>
                <div class="img-area" data-img="">
                    <i class='bx bxs-cloud-upload icon'></i>
                    <h3>Upload Image</h3>
                    <p>Image size must be less than <span>2MB</span></p>
                    <img id="selectedImage" src="{{ url_for('static', filename='placeholder.png') }}" alt="Selected Image" style="display: none">
                </div>
                <button class="select-image" onclick="document.getElementById('fileInput').click()">Select Image</button>
            </div>
        </form>
    <br>

    <div>
        <button class="select-image" type="submit"> SEARCH </button>
    </div>


    <!-- Results container -->
    <div class="results-container">
        {% if top_images %}
            <div class="results-section">
                <h1>Image Processing Results</h1>
                <p>Elapsed Time: {{ elapsed_time }} seconds</p>
                <h2>Top 10 Similar Images</h2>
                <div class="images">
                    {% for image, similarity in top_images %}
                        <div class="image">
                            <img src="{{ url_for('download_file', filename=basename(image)) }}" alt="Similar Image">
                            <p>Similarity: {{ similarity }}%</p>
                        </div>
                    {% endfor %}
                </div>
                <form action="{{ url_for('download_pdf') }}" method="get">
                    <button type="submit">Download PDF</button>
                </form>
            </div>
        {% endif %}
    </div>


    <script>
        function displayImage(input) {
            var selectedImage = document.getElementById("selectedImage");

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    selectedImage.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function changeMode() {
            var modeText = document.getElementById("modeText");
            var selectedImage = document.getElementById("selectedImage");

            if (toggleSwitch.checked) {
                selectedImage.classList.add("texture-mode");
            } else {
                selectedImage.classList.remove("texture-mode");
            }
        }

        const selectImage = document.querySelector('.select-image');
        const inputFile = document.querySelector('#file');
        const imgArea = document.querySelector('.img-area');

        selectImage.addEventListener('click', function () {
            inputFile.click();
        })

        inputFile.addEventListener('change', function () {
            const image = this.files[0]
            if(image.size < 2000000) {
                const reader = new FileReader();
                reader.onload = ()=> {
                    const allImg = imgArea.querySelectorAll('img');
                    allImg.forEach(item=> item.remove());
                    const imgUrl = reader.result;
                    const img = document.createElement('img');
                    img.src = imgUrl;
                    imgArea.appendChild(img);
                    imgArea.classList.add('active');
                    imgArea.dataset.img = image.name;
                }
                reader.readAsDataURL(image);
            } else {
                alert("Image size more than 2MB");
            }
        })

    </script>

</body>
</html>